<head>
  <style>
    .btn-outline-success:hover img {
      opacity: 0.9;
      transform: rotate(-5deg);
      transition: opacity 0.3s ease, transform 0.3s ease;
    }
    @media (min-width: 768px) {
      .h1.text-start{
        font-size: 4rem;
      }
    }
  </style>
</head>
{% extends "layouts.html" %}
{% block content %}
<div class="container">
  <div class="row" style="padding: 30px">
    <h1
      class="h1 text-start"
      style="
        color: #31d23f;
        margin: 1rem 0 1.5rem 0;
        font-family: 'Creepster', 'Roboto', sans-serif, system-ui;
        text-align: center;
        @media (max-width: 768px) {
          font-size: 12px;
        }
      "
    >
      The Rick and Morty
    </h1>
    <p class="text-lgd-start card-text" style="color: white">
      Bem-vindo ao portal para o multiverso mais louco da animação!
    </p>
    <p class="text-lgd-start card-text" style="color: white;margin: 1rem 0;">
      Aqui você encontrará tudo sobre <span style="color: #34c7f3">Rick and Morty</span>, a série que conquistou o mundo com suas aventuras espaciais.
    </p>
    <p class="text-lgd-start card-text" style="color: white;margin-bottom: 1.5rem;">
      Clique nas imagens para saber mais sobre cada um deles e embarque em uma jornada intergaláctica inesquecível.
    </p>
    {% for character in characters %}
    <div class="col-md-4 col-sm-6">
      <div
        class="card mb-4"
        style="
          border-color: #31d23f;
          border-radius: 16px 0 16px 0;
          background-color: transparent;
          padding: 0.5rem;
        "
      >
      <a
        href="/profile/{{character.id}}"
        class="btn btn-outline-success .btn-outline-success"
        style="
          margin-top: 0.5rem;
          border: none;
        "
        >
        <img
          src="{{ character.image }}"
          alt="{{ character.name }}"
          class="card-img-top img-fluid img-thumbnail"
          title={{character.name}}
        />
      </a>  
      
        <div class="card-body">
          <h5 class="card-title" style="color: white">{{ character.name }}</h5>
          <p>
            <a
              href="/profile/{{character.id}}"
              class="btn btn-outline-success"
              style="
                border-radius: 16px 0 16px 0;
                border-color: #31d23f;
                margin-top: 1.5rem;
              "
              >Ver Perfil</a
            >
          </p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<div></div>
{% include "pagination.html"%}
{% endblock %}
