<footer>
    <div style="background-color: #31D23F;height: 1.5px;"></div>
    <div style="color:#CA45E9;width: 100%; display: flex; align-items: center; justify-content:center; flex-direction: column; padding: 2rem;">
        <div style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: flex-start; gap: 2rem;">
            <!-- Jessica -->
            <a href="https://www.linkedin.com/in/jclizar/" target="_blank" style="margin-right: 2rem;">
                <img 
                    src="https://github.com/jclizar.png" 
                    alt="" 
                    title="Jéssica Lizar"
                    style="border-radius: 50%; width: 4rem; height: 4rem; display: flex; justify-items: center; align-items: center;"
                /> 
            </a>
            <!-- Livia -->
            <a href="https://www.linkedin.com/in/livia-boscolo/" target="_blank" style="margin-right: 2rem;">
                <img 
                    src="https://github.com/liviaboscolo.png" 
                    alt="" 
                    title="Lívia Boscolo"
                    style="border-radius: 50%; width: 4rem; height: 4rem; display: flex; justify-items: center; align-items: center;"
                /> 
            </a>
            <!-- Raquel -->
            <a href="https://www.linkedin.com/in/raquel-maia-860/" target="_blank" style="margin-right: 2rem;">
                <img 
                    src="https://github.com/raquel-maia.png" 
                    alt="" 
                    title="Raquel Maia"
                    style="border-radius: 50%; width: 4rem; height: 4rem; display: flex; justify-items: center; align-items: center;"
                /> 
            </a>
            <!-- Rosana -->
            <a href="https://www.linkedin.com/in/rosanatsf/" target="_blank" style="margin-right: 2rem;">
                <img 
                    src="https://github.com/RosanaTSF.png" 
                    alt="" 
                    title="Rosana Francisco"
                    style="border-radius: 50%; width: 4rem; height: 4rem; display: flex; justify-items: center; align-items: center;"
                /> 
            </a>
            <!-- Leticia -->
            <a href="https://www.linkedin.com/in/let%C3%ADcia-almeida-9704162a0/" target="_blank" style="margin-right: 2rem;">
                <img 
                    src="https://github.com/leticosta4.png" 
                    alt="" 
                    title="Letícia Almeida"
                    style="border-radius: 50%; width: 4rem; height: 4rem; display: flex; justify-items: center; align-items: center;"
                /> 
            </a>
            <!-- Michelle -->
            <a href="https://www.linkedin.com/in/michelle-martins-da-costa-a67044186/" target="_blank" style="margin-right: 2rem;">
                <img 
                    src="https://github.com/MichelleCosta07.png" 
                    alt="" 
                    title="Michelle da Costa"
                    style="border-radius: 50%; width: 4rem; height: 4rem; display: flex; justify-items: center; align-items: center;"
                /> 
            </a>
            <!-- Nadi -->
            <a href="https://www.linkedin.com/in/nadiduno/" target="_blank" style="margin-right: 2rem;">
                <img 
                    src="https://github.com/nadiduno.png" 
                    alt="" 
                    title="Nadi Duno"
                    style="border-radius: 50%; width: 4rem; height: 4rem; display: flex; justify-items: center; align-items: center;"
                /> 
            </a>
        </div>
        <div style="margin-top: 2rem; margin-bottom: 1rem; color: #CA45E9;">
            <p>Bootcamp 
                <a 
                    href="https://www.maismulheres.tech/"
                    target="_blank"
                    rel="noopener noreferrer"
                    style="color: #31D23F;"
                >
                    WoMakersCode
                </a>
                &nbsp| Por mais Mulheres em Tech © 2024
            </p>
        </div>
    </div>
</footer>