<!doctype html>
<html lang="pt-BR">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Rick and Morty</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='svg-toggle.css') }}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>  
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">   
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>  
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">   
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Creepster&display=swap" rel="stylesheet">
    </head>
    <body 
        class="black-bg mainBody" 
        style="
            background-color: hwb(0 4% 96%);
            font-family: 'Roboto', sans-serif;
            background-image: url('/static/backgroundImg.png');
            background-size: cover;
            background-attachment: fixed;
            background-position: top right;
            background-repeat: no-repeat;
            background-size: 30%;
        "
    >
        <main class="container" >
            {% include "nav.html"%}

            {% block content %} {% endblock %}

            {% include "footer.html"%}
        </div>
        </main>
     </body>
     <script src="{{ url_for('static', filename='hamburguer.js') }}"></script>
</html>