<header>
    <nav class="navbar navbar-expand-lg" style="background: none; background-color: transparent;border-radius: 100px 0 100px 0; border: 2px solid #ca45e9; padding: 1rem 3rem;">
        <div class="container-fluid">
            <a class="navbar-brand" style="color:#ca45e9; font-weight: bold;" href="/">Home</a>
            <button class="navbar-toggler" type="button" id="navbarToggle" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" style="color:#ca45e9;">
                <span class="navbar-toggler-icon svg-toggle" style='color:#ca45e9 !important;'></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-right">
                    <li class="nav-item">
                        <a class="nav-link" style="color:white;font-weight: bold;" href="/episodes">Episódios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color:white;font-weight: bold;" href="/locations">Localizações</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color:white;font-weight: bold;" href="/documentation">Documentação</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>